# Mahjong-only build-time configuration. Leave the URL empty to disable the
# built-in match BGM. The copyright text is shown in Mahjong's sound settings.
VITE_MAHJONG_DEFAULT_BGM_URL=
VITE_MAHJONG_DEFAULT_BGM_COPYRIGHT=
